#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.fa-expand{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: white;
}

.fa-expand:hover{
    cursor: pointer;
}

section{
    position: absolute;
}

.hidden{
    opacity: 0;
}

.showing{
    opacity: 1;
}