* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Create the overlay for the intro */

body.overlay-visible{
    background-color: rgba(0,0,0,0.5);
}

#intro{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}

#intro article{
    box-sizing: border-box;
    background-color: rgb(255, 239, 186);
    padding: 30px;
    width: 45vw;
    height:60vh;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    box-shadow:   -15px 0 0 0 rgb(235, 153, 0),
    15px 0 0 0 rgb(235, 153, 0),
    0 -15px 0 0 rgb(235, 153, 0),
    0 15px 0 0 rgb(235, 153, 0);
    display:flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;

}

#intro article h1{
    font-family: "Peralta", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
}

#intro article h2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-size: 24px;
    margin-top: 3%;
}

#intro article p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    margin-top: 10%;
    text-align: center;

}


#intro button{
    background-color:rgb(235, 153, 0);
    border: 2px solid rgb(163, 107, 2) ;
    display: inline-block;
    border-radius: 50px;
    margin: auto;
    margin-top: 15%;
    padding: 2% 5%;
    font-family: "Inter", sans-serif;
    font-family: 'Peralta', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#intro button:hover{
    cursor:pointer;
}

#story{
    display:flex;
    flex: 1;
    flex-direction: column;
    margin: 5%;
    justify-content: center;
    text-align: center;
}

#story > div{
    display: flex;
    justify-content: center;
    padding-bottom: 20%;
    margin-bottom: 10%;
    
}

#story > div > div{
    padding: 2%;
    margin: 3%;
}

#story h2{
    font-size: 300%;
}

#story p{
    font-family: "Inter", sans-serif;
    margin: 10% 0;
    line-height: 1.8em;
    font-size: 24px;
    margin-top: 15%;
}

#story img{
    margin-top: 10%;
}
.clock{
    font-family: "Orbitron", sans-serif;
    font-size: 36px;
}

.utopia{
    flex: 1;
}

.utopia h2{
    margin: 10% 0;
}

.dystopia{
    flex: 1;
}

.dystopia h2{
    margin: 10% 0;
}

body{
    background-color: rgb(255, 239, 186);
    
}

.hidden{
    display: none;
}

.visible{
    visibility: visible;
}


#questions > div{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}

#questions > div > article{
    box-sizing: border-box;
    background-color: rgb(255, 239, 186);
    padding: 30px;
    width: 45vw;
    height:80vh;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    box-shadow:   -15px 0 0 0 rgb(235, 153, 0),
    15px 0 0 0 rgb(235, 153, 0),
    0 -15px 0 0 rgb(235, 153, 0),
    0 15px 0 0 rgb(235, 153, 0);
}

canvas{
    width: 80%;
    text-align: center;
    margin: 10% auto;
}

#stats h2{
    text-align: center;
}

#qna{
    text-align: center;
}

#qna > div {
    width: 50%;
    text-align: center;
    margin: 10% auto;
    height: 400px;
}


#q_community{
    width: 80%;
    min-height: 200px;
    text-align: left;
    padding-top: 0;
    padding-left: 10px; /* Optional: to give some space from the right border */
    font-size: 18px;
}

